.bookmark-container {
  max-height: 250px;
  width: 90%;
  margin: 10px 0;
}
.bookmark-img {
  max-width: 120px;
  max-height: 150px;
  margin: 5px;
}
.bookmark-body {
  width: 90%;
  margin: 20px 0 20px 20px;
}
